/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework
/storage/app
/storage/app/public/preorder
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_*.css.map
_*.css
*.log
/.vscode
/.vagrant
composer.lock
package-lock.json
/public/mix-manifest.json
/*-log
/*.log
/storage/app/public/preorder/
