<footer>
    <div class="btn-up"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-xl-4">
                <h3>Помощь покупателю</h3>
                <div class="box__footer-nav">
                    <ul>
                        <li><a href="#">Прайс-листы</a></li>
                        <li><a href="#">Рекламная продукция</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Оплата</a></li>
                        <li><a href="#">Условия работы</a></li>
                        <li><a href="#">Как стать клиентом</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 col-xl-3">
                <h3>Компания</h3>
                <div class="box__footer-nav">
                    <ul>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Наша жизнь</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 col-xl-5">
                <div class="box__footer-link"><a href="#">8 (3852) 46-36-20</a><span>Отдел продаж по Алтайскому краю</span></div>
                <div class="box__footer-link"><a href="#">8 (3852) 50-40-98</a><span>Региональный отдел продаж</span></div>
                <div class="box__footer-info">656064, г.Барнаул, ул.Сельскохозяйственная, 5</div>
                <div class="box__footer-link"><a href="#">info@sotka-sem.ru</a></div>
            </div>
        </div>
        <div class="row align-center">
            <div class="col-12 col-md-6 col-xl-4">
                <div class="box__copyright">Золотая Сотка Алтая © 2010. Все права зарезервированы.</div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="box__link-personal"><a href="#">Согласие на обработку персональных данных</a></div>
            </div>
            <div class="col-12 col-md-12 col-xl-5">
                <div class="box__logo-dev"><span>Разработка</span><a href="#"><img src="${require('../../img/icon/logo-dev.svg')}" alt=""></a></div>
            </div>
        </div>
    </div>
</footer>
